%header
  %style{:type => "text/css", :media => "screen"}
    = css
  %title #{title}

%body

  .navigation
    %a{:href => "#{relative_site_root}toc.html"}
      Table of Contents

  %aside
    =render_toc

  .content
    = render_content

  .footer
    %p
      %em Generated on #{Time.now} by helphelp.
